.floatright { float: right; }

div.leftside {
    width: 414px;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    margin-left: 425px;
}



.centeredtitle {
  font-size: 50px;
  font-weight: normal;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #3f3f3f;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 130px;
  overflow: hidden;
}

.centeredauthor {
  font-size: 30px;
  font-weight: normal;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #3f3f3f;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
}

div.presenter_notes {
  display: none;
}

.strike {
  text-decoration: line-through;
}


.red {
  color: red
}

body {
  font: 24px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background: #778;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
